img {
    border:5px solid white;
    width:100%;
}
body {
    color:white;
    background-color:black;
}
h1 {
    font-family:"Libre Baskerville", serif;
    font-size:25px;
    text-transform:uppercase;
}
.main {
    width:60%;
    margin-left:20%;
    text-align:center;
    margin-top:50px;
}
p {
    font-size:larger;
}
